[device]
pir_id = 1

[mqtt]
mqtt_host = iot.eclipse.org
mqtt_topic = /baleani/laspio/pir/${device:pir_id}

[gdrive]
local_tmp_dir = /home/pi
cmd = /home/pi/AcchiappaLadro/gdrive/gdrive -c /home/pi/AcchiappaLadro/gdrive/conf upload -p 0B5VaZPNYmmfca0dnMDdFLXppNTA -f {} && rm {} &
